@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { font-family: Arial, sans-serif; font-size: 12px; font-size: 1.2rem; line-height: 1.4; color: #000; }

.out { max-width: 1920px; min-width: 960px; margin: auto; overflow: hidden; padding-top: 95px; position: relative; }

a { text-decoration: none; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }

button { -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; }

h1, h2, h3, h4, h5, h6, b, em, strong, i, th, td { font-weight: normal; font-style: normal; }

@font-face { font-family: "Bliss Pro"; src: url("fonts/BlissPro.eot"); src: url("fonts/BlissPro.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro.woff2") format("woff2"), url("fonts/BlissPro.woff") format("woff"), url("fonts/BlissPro.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Bliss Pro Bold"; src: url("fonts/BlissPro-Bold.eot"); src: url("fonts/BlissPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-Bold.woff2") format("woff2"), url("fonts/BlissPro-Bold.woff") format("woff"), url("fonts/BlissPro-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Bliss Pro ExtraBold"; src: url("fonts/BlissPro-ExtraBold.eot"); src: url("fonts/BlissPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-ExtraBold.woff2") format("woff2"), url("fonts/BlissPro-ExtraBold.woff") format("woff"), url("fonts/BlissPro-ExtraBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Bliss Pro ExtraLight"; src: url("fonts/BlissPro-ExtraLight.eot"); src: url("fonts/BlissPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-ExtraLight.woff2") format("woff2"), url("fonts/BlissPro-ExtraLight.woff") format("woff"), url("fonts/BlissPro-ExtraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Bliss Pro Heavy"; src: url("fonts/BlissPro-Heavy.eot"); src: url("fonts/BlissPro-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-Heavy.woff2") format("woff2"), url("fonts/BlissPro-Heavy.woff") format("woff"), url("fonts/BlissPro-Heavy.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.ico { display: inline-block; }
.ico.ico-contact { background: url("../img/svg/ico-contact.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-kpi { background: url("../img/svg/ico-kpi.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-strategy { background: url("../img/svg/ico-strategy.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-plan { background: url("../img/svg/ico-plan.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-efect { background: url("../img/svg/ico-efect.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-profit { background: url("../img/svg/ico-profit.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.ico.ico-rise-search { background: url("../img/svg/ico-rise-search.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.ico.ico-rise-au { background: url("../img/svg/ico-rise-au.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.ico.ico-rise-tr { background: url("../img/svg/ico-rise-tr.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.ico.ico-magnit { background: url('../img/icons-s8dce3e2baa.png') 0 -6214px no-repeat; width: 81px; height: 165px; }
.ico.ico-plus { background: url('../img/icons-s8dce3e2baa.png') 0 -6498px no-repeat; width: 16px; height: 15px; }
.ico.ico-note { background: url('../img/icons-s8dce3e2baa.png') 0 -6470px no-repeat; width: 14px; height: 18px; }
.ico.ico-logo-gall { background: url('../img/icons-s8dce3e2baa.png') 0 -6681px no-repeat; width: 74px; height: 52px; }
.ico.ico-arrow { background: url('../img/icons-s8dce3e2baa.png') 0 -6162px no-repeat; width: 11px; height: 19px; }
.ico.ico-arrow-half { background: url('../img/icons-s8dce3e2baa.png') 0 -6133px no-repeat; width: 6px; height: 19px; }
.ico.ico-trafic { background: url('../img/icons-s8dce3e2baa.png') 0 -6573px no-repeat; width: 17px; height: 18px; }
.ico.ico-calendar { background: url('../img/icons-s8dce3e2baa.png') 0 -6191px no-repeat; width: 15px; height: 13px; }
.ico.ico-tel-black { background: url('../img/icons-s8dce3e2baa.png') 0 -6546px no-repeat; width: 12px; height: 17px; }
.ico.ico-marker { background: url('../img/icons-s8dce3e2baa.png') 0 -6406px no-repeat; width: 10px; height: 16px; }
.ico.ico-msg { background: url('../img/icons-s8dce3e2baa.png') 0 -6432px no-repeat; width: 14px; height: 8px; }

.in, .header__in, .promotion__in, .l-steps__in, .l-promotion__in, .l-privilege__in, .l-progress__in, .l-awards__in, .l-company__in, .l-contact__in, .steps__in, .privilege__in, .progress__in, .awards__in, .map-wrap .contact__in, .bottom__in, .footer__in { width: 960px; margin: auto; padding: 0 20px; position: relative; }

.btn { height: 29px; line-height: 29px; text-align: center; padding: 0 16px; }
.btn.is-yellow { background-color: #f7e357; }
.btn.is-yellow:hover { background-color: #f5db26; }
.btn.is-blue { background-color: #00bfff; }
.btn.is-blue:hover { background-color: #00a2ff; }
.btn.is-blue:active { background-color: #0099cc; box-shadow: inset 1px 1.7px 3px rgba(0, 0, 0, 0.33); }
.btn.btn_med { height: 52px; line-height: 52px; }
.btn.btn_lg { height: 77px; line-height: 77px; }

.is-left { text-align: left; }

.is-right { text-align: right; }

.is-center { text-align: center; }

.header { background-color: #fff; min-height: 95px; position: fixed; top: 0; left: 0; right: 0; z-index: 9999; }
.header__in { *zoom: 1; }
.header__in:after { content: " "; display: table; clear: both; }
.header .logo { float: left; margin-top: 29px; }
.header .nav { overflow: hidden; margin: 0 206px 0 268px; padding-top: 35px; }
.header .btn-tell { float: right; margin-top: 32px; }

.promotion { height: 391px; background-color: #f7e357; overflow: hidden; }
.promotion__in { height: 100%; min-height: 100%; }
.promotion .slider { height: 100%; min-height: 100%; position: relative; z-index: 90; }
.promotion .slide { width: 622px; height: 391px; }
.promotion .slide__text { padding: 25px 42px 10px 40px; }
.promotion .slide h3, .promotion .slide p { color: #232323; }
.promotion .slide h3 { font-family: "Bliss Pro ExtraBold", Arial, sans-serif; font-size: 30px; font-weight: 700; line-height: 1.2; max-width: 520px; margin-bottom: 5px; }
.promotion .slide p { font-family: "Bliss Pro ExtraLight", Arial, sans-serif; font-size: 18px; font-weight: 200; line-height: 1.2; max-width: 495px; }
.promotion .slide img.manager { position: absolute; bottom: 1px; left: 107px; z-index: 10; }
.promotion .slide img.people { position: absolute; bottom: 33px; left: 36px; z-index: 10; opacity: 0; -moz-transition: all 5s; -o-transition: all 5s; -webkit-transition: all 5s; transition: all 5s; }
.promotion .slide.slide2.slick-active img.people { opacity: 1; -ms-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-animation: people-scale 2.5s infinite ease-in-out; animation: people-scale 2.5s infinite ease-in-out; }
.promotion .equalizer { position: absolute; bottom: 0; left: 40px; z-index: 1; }
.promotion .money-m { position: absolute; bottom: 80px; left: 40px; }
.promotion .top-form { position: absolute; top: 81px; right: 52px; z-index: 91; }
.promotion .diagram { background: url("../img/diagrama.png") no-repeat 0 0; width: 262px; height: 180px; position: absolute; top: 0; right: 159px; -webkit-animation: hide-show 2.5s infinite ease-in-out; animation: hide-show 2.5s infinite ease-in-out; }

.l-promotion { background: url("../img/line1.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-promotion .title { width: 100%; }

.l-steps { background: url("../img/line2.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-steps .title { width: 397px; }

.l-privilege { background: url("../img/line3.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-privilege .title { width: 782px; }
.l-privilege .title span { font-family: "Bliss Pro Heavy", Arial, sans-serif; color: #00bfff; position: relative; z-index: 10; display: inline-block; vertical-align: top; margin: 0 7px; }
.l-privilege .title span:before { content: ""; display: block; border-radius: 50%; z-index: -1; width: 32px; height: 32px; background-color: #fff; position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.l-progress { background: url("../img/line2.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-progress .title { width: 445px; }

.l-awards { background: url("../img/line5.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-awards .title { width: 346px; }

.l-company { background: url("../img/line6.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-company .title { width: 352px; }

.l-contact { background: url("../img/line5.png") no-repeat 0 0; width: 1920px; height: 126px; }
.l-contact .title { width: 284px; }

.l-promotion, .l-steps, .l-privilege, .l-progress, .l-awards, .l-company, .l-contact { background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: 100%; height: auto; min-height: 126px; }

.l-steps__in, .l-promotion__in, .l-privilege__in, .l-progress__in, .l-awards__in, .l-company__in, .l-contact__in { padding: 33px 20px; }

.steps { height: 888px; background-color: #fff; }
.steps__in { padding: 95px 0; }
.steps__container { height: 698px; background-color: #f7e357; position: relative; }
.steps__container:before { content: ""; position: absolute; display: block; z-index: 10; top: -71px; left: 0; right: 0; margin: auto; background: url("../img/people-top.png") no-repeat 0 0; width: 886px; height: 148px; }
.steps__container:after { content: ""; position: absolute; display: block; z-index: 10; bottom: -63px; left: 0; right: 0; margin: auto; background: url("../img/people-bot.png") no-repeat 0 0; width: 935px; height: 151px; }
.steps__wrap { width: 778px; margin: auto; }
.steps__wrap__in { margin: 0 -1%; }
.steps__title { line-height: 1.2; text-align: center; font-size: 30px; font-size: 3rem; font-family: "Bliss Pro ExtraBold", Arial, sans-serif; padding: 100px 0 33px; }

.step { display: inline-block; vertical-align: top; width: 31%; margin: 0 1% 90px; text-align: center; }
.step:hover .step__content { background-color: #00bfff; }
.step:hover .step__content ul { display: block; }
.step:hover .step__content li, .step:hover .step__content p { color: #fff; }
.step:hover .step__top { color: #fff; }
.step.step1:hover .ico-contact { background: url("../img/svg/ico-contact-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step.step2:hover .ico-kpi { background: url("../img/svg/ico-kpi-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step.step3:hover .ico-strategy { background: url("../img/svg/ico-strategy-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step.step4:hover .ico-plan { background: url("../img/svg/ico-plan-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step.step5:hover .ico-efect { background: url("../img/svg/ico-efect-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step.step6:hover .ico-profit { background: url("../img/svg/ico-profit-h.svg") no-repeat 0 0; -moz-background-size: 88px 92px; -o-background-size: 88px 92px; -webkit-background-size: 88px 92px; background-size: 88px 92px; width: 88px; height: 92px; display: inline-block; }
.step__img { margin-bottom: 7px; }
.step__top { text-align: center; font-size: 14px; font-size: 1.4rem; line-height: 1.2; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; font-weight: 200; color: #232323; padding: 13px 25px 16px; }
.step__content { background-color: transparent; margin: auto; position: relative; z-index: 90; }
.step__content ul { display: none; text-align: left; background-color: #00bfff; padding: 0 30px 30px; position: absolute; left: 0; right: 0; }
.step__content li, .step__content p { line-height: 18px; font-size: 12px; font-size: 1.2rem; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; color: #232323; position: relative; }
.step__content li:before { content: "-"; font-size: 12px; font-size: 1.2rem; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; position: absolute; top: 0; bottom: 0; left: -7px; margin: auto; }

.privilege { background-color: #fff; }
.privilege__in { padding: 192px 0 68px; }
.privilege .magnit { margin: 35px auto 40px; }
.privilege .priv { height: 136px; background-color: #facc26; margin-bottom: 30px; position: relative; }
.privilege .priv:before { content: ""; display: block; position: absolute; right: 100%; top: 0; height: 114px; width: 100px; background-color: #facc26; transform-origin: 100% 0; -ms-transform: rotate(-33deg); -webkit-transform: rotate(-33deg); transform: rotate(-33deg); }
.privilege .priv:hover { background-color: #00bfff; }
.privilege .priv:hover:before { background-color: #00bfff; }
.privilege .priv:hover .priv__tringle, .privilege .priv:hover .numb { background-color: #00bfff; }
.privilege .priv:hover .priv__tringle:before { border-top-color: #00a3ed; }
.privilege .priv:hover .numb:before { border-bottom-color: #00bfff; }
.privilege .priv:hover .priv__tail { background-color: #00bfff; }
.privilege .priv:hover h4, .privilege .priv:hover p, .privilege .priv:hover .numb { color: #fff; }
.privilege .priv .ico { position: absolute; left: 15px; top: 50%; -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
.privilege .priv__text { padding: 24px 40px 25px 140px; overflow: auto; height: 100%; }
.privilege .priv__text h4 { margin-bottom: 11px; color: #232323; font-size: 20px; font-size: 2rem; font-family: "Bliss Pro ExtraBold", Arial, sans-serif; font-weight: 700; line-height: 20px; text-transform: uppercase; }
.privilege .priv__text p { color: #232323; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; font-size: 14px; font-size: 1.4rem; font-weight: 200; line-height: 18px; }
.privilege .priv__tringle { position: absolute; left: 100%; bottom: 0; background-color: #ffd626; width: 136px; height: 136px; }
.privilege .priv__tringle:after { content: ""; display: block; border-bottom: 136px solid white; border-left: 136px solid transparent; position: absolute; bottom: 0; right: 0; background-color: transparent; }
.privilege .priv__tringle:before { content: ""; display: block; border-top: 136px solid #f5ba0a; border-left: 20px solid transparent; position: absolute; right: 100%; top: 0; }
.privilege .priv__tringle .numb { position: absolute; bottom: 100%; left: 0; background-color: #ffd626; width: 100%; height: 62px; color: #232323; }
.privilege .priv__tringle .numb:before { content: ""; display: block; position: absolute; bottom: 100%; border-bottom: 106px solid #ffd626; border-left: 106px solid transparent; border-right: 106px solid transparent; left: 50%; -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.privilege .priv__tringle .numb span { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-family: "Bliss Pro Heavy", Arial, sans-serif; font-size: 68px; font-size: 6.8rem; line-height: 1; z-index: 99; }
.privilege .priv__tail { content: ""; display: block; height: 114px; width: 500%; right: 100%; bottom: 0; position: absolute; background-color: #facc26; transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -ms-transform: rotate(-33deg); -webkit-transform: rotate(-33deg); transform: rotate(-33deg); }
.privilege .priv.is-one { width: 458px; }
.privilege .priv.is-one:hover .ico-rise-search { background: url("../img/svg/ico-rise-search-h.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.privilege .priv.is-one h4 { width: 255px; }
.privilege .priv.is-one p { width: 276px; }
.privilege .priv.is-two { width: 606px; }
.privilege .priv.is-two:hover .ico-rise-tr { background: url("../img/svg/ico-rise-tr-h.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.privilege .priv.is-two h4 { width: 255px; }
.privilege .priv.is-two p { width: 309px; }
.privilege .priv.is-three { width: 765px; }
.privilege .priv.is-three:hover .ico-rise-au { background: url("../img/svg/ico-rise-au-h.svg") no-repeat 0 0; -moz-background-size: 94px 93px; -o-background-size: 94px 93px; -webkit-background-size: 94px 93px; background-size: 94px 93px; width: 94px; height: 93px; display: inline-block; }
.privilege .priv.is-three h4 { width: 518px; }
.privilege .priv.is-three p { width: 518px; }
.privilege__res { color: #232323; font-size: 76px; font-size: 7.6rem; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; text-align: center; line-height: 1.2; padding-top: 10px; }
.privilege__res span { display: block; line-height: 1; font-family: "Bliss Pro ExtraBold", Arial, sans-serif; font-size: 55px; font-size: 5.5rem; }
.privilege .btn-profit { margin: auto; width: 300px; display: block; border: none; }

.progress { min-height: 818px; }
.progress__in { height: 818px; }

.awards { min-height: 507px; }
.awards__in { padding-bottom: 40px; }
.awards .medals { min-height: 240px; text-align: center; }
.awards .medal { display: inline-block; vertical-align: top; padding: 0 40px; text-align: center; }
.awards .medal__pic { display: inline-block; height: 140px; padding: 20px 0; text-align: center; font-size: 0; }
.awards .medal__pic:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.awards .medal__pic > img { max-width: 100%; height: auto; display: inline-block; vertical-align: middle; }
.awards .medal h5 { font-size: 30px; font-size: 3rem; font-family: "Bliss Pro ExtraBold", Arial, sans-serif; line-height: 1.2; color: #00bfff; margin-bottom: 5px; max-width: 205px; }
.awards .medal p { font-size: 14px; font-size: 1.4rem; max-width: 163px; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; color: #232323; line-height: 1.2; display: inline-block; }

.company { font-size: 0; *zoom: 1; }
.company:after { content: " "; display: table; clear: both; }
.company .container { max-width: 1300px; min-width: 1000px; margin: auto; }
.company .col { float: left; width: 50%; }
.company .col.col1 { text-align: right; }
.company .col.col1 .item:nth-of-type(1) { background: url("../img/medals.jpg") no-repeat 0 0; width: 243px; height: 432px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: auto; }
.company .col.col1 .item:nth-of-type(2) { background: url("../img/space.jpg") no-repeat 0 0; width: 668px; height: 696px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: auto; }
.company .col.col2 { text-align: left; }
.company .col.col2 .item:nth-child(1) { background: url("../img/office.jpg") no-repeat 0 0; width: 391px; height: 696px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: auto; }
.company .col.col2 .item:nth-child(2) { background: url("../img/space-station.jpg") no-repeat 0 0; width: 408px; height: 432px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; width: auto; }
.company .item { height: 433px !important; overflow: hidden; position: relative; }
.company .item:hover:before, .company .item:hover:after { opacity: 0; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.company .item:before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 0; opacity: 1; }
.company .item:after { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 191, 255, 0.63); z-index: 99; opacity: 1; }
.company .item .top { font-family: "Bliss Pro Bold", Arial, sans-serif; font-size: 22px; font-size: 2.2rem; line-height: 1.2; color: #f7e357; padding: 30px 13px 75px; width: 244px; margin: auto; min-height: 157px; position: relative; z-index: 90; }
.company .item .top.is-mod { float: right; }
.company .item .middle { clear: both; color: #fff; max-width: 214px; margin: auto; text-align: left; font-size: 24px; font-size: 2.4rem; font-family: "Bliss Pro Bold", Arial, sans-serif; position: relative; z-index: 99; }
.company .item .middle.is-right { float: right; margin: 0 63px 0 0; }
.company .item .middle.is-left { float: left; margin: 0 0 0 29px; }
.company .item .middle span { font-family: "Bliss Pro ExtraBold", Arial, sans-serif; font-size: 64px; font-size: 6.4rem; display: inline-block; vertical-align: bottom; line-height: 1; max-width: 185px; overflow: hidden; text-overflow: ellipsis; }
.company .item .middle p { margin-bottom: 20px; line-height: 1; }
.company .item .bot { clear: both; font-size: 18px; font-size: 1.8rem; font-family: "Bliss Pro Bold", Arial, sans-serif; line-height: 1; color: #fff; position: relative; z-index: 99; }
.company .item .bot span { font-size: 24px; font-size: 2.4rem; }
.company .item .bot.is-right { float: right; margin: 0 63px 0 0; }
.company .item .bot.is-left { float: left; margin: 0 0 0 29px; }
.company .item.is-left { float: left; text-align: center; width: 244px !important; }
.company .item.is-right { float: right; text-align: center; width: 244px !important; }

.map-wrap { position: relative; }
.map-wrap .contact { position: absolute; top: 0; right: 0; bottom: auto; left: 0; }
.map-wrap .contact__in { position: relative; }
.map-wrap .contact .info { position: absolute; top: 113px; right: 15px; width: 380px; height: 237px; overflow: hidden; background-color: rgba(247, 227, 87, 0.9); z-index: 100; }
.map-wrap .contact .info p { padding: 0 0 0 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.map-wrap .contact .info ul { margin: 48px 30px 45px; }
.map-wrap .contact .info li { font-size: 18px; font-size: 1.8rem; font-weight: 200; line-height: 36px; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; position: relative; }
.map-wrap .contact .info li .ico { position: absolute; top: 0; bottom: 0; margin: auto; }
.map-wrap .map { height: 603px; }

.bottom { background: url("../img/line7.png") no-repeat 0 0; width: 1920px; height: 195px; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; font-size: 0; }
.bottom__in { text-align: center; padding: 62px 0; }
.bottom .col { display: inline-block; vertical-align: top; padding-right: 52px; }
.bottom .bottom__form { margin-right: -52px; }
.bottom .bottom__form .input { margin-bottom: 9px; }
.bottom .bottom__form .input:nth-child(even) { margin-bottom: 0; }

.footer { height: 118px; background-color: #f7e357; }
.footer__in { padding: 34px 70px; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer .logo-ft { float: right; background: url('../img/icons-s8dce3e2baa.png') 0 -6621px no-repeat; width: 88px; height: 50px; }
.footer .copy { max-width: 355px; float: left; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; color: #232323; font-size: 20px; font-size: 2rem; }
.footer .copy span { text-transform: uppercase; line-height: 1; }
.footer .copy p { line-height: 1; }

@keyframes equa { 0% { top: 0; }
  50% { top: 50%; }
  100% { top: 0; } }
@-webkit-keyframes equa { 0% { top: 0; }
  50% { top: 50%; }
  100% { top: 0; } }
@keyframes people-scale { 0% { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  50% { -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
  100% { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@-webkit-keyframes people-scale { 0% { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  50% { -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
  100% { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
@keyframes fly { 0% { right: 0; opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { right: 100%; opacity: 0; } }
@-webkit-keyframes fly { 0% { right: 0; opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { right: 100%; opacity: 0; } }
@keyframes hide-show { 0% { top: 0; }
  50% { top: -36px; }
  100% { top: 0; } }
@-webkit-keyframes hide-show { 0% { top: 0; }
  50% { top: -36px; }
  100% { top: 0; } }
.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.logo { font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s8dce3e2baa.png') 0 -6743px no-repeat; width: 212px; height: 37px; }

.nav { font-size: 0; }
.nav li { display: inline-block; margin-right: 18px; }
.nav li:last-child { margin-right: 0; }
.nav li a { display: block; color: #232323; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; font-size: 14px; font-size: 1.4rem; font-weight: 200; line-height: 24px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; text-transform: uppercase; }
.nav li a:hover { text-decoration: underline; }

.title { min-height: 60px; border: 2px solid white; text-align: center; color: #fff; padding: 10px 20px; margin: auto; }
.title h2 { font-family: "Bliss Pro", Arial, sans-serif; font-size: 30px; font-size: 3rem; line-height: 1.2; text-transform: uppercase; }

.btn-tell, .btn-profit { height: 29px; line-height: 29px; text-align: center; padding: 0 14px; background-color: #f7e357; }
.btn-tell:hover, .btn-profit:hover { background-color: #f5db26; }
.btn-tell:active, .btn-profit:active { background-color: #f5db26; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.39); }
.btn-tell span, .btn-profit span { color: #232323; font-family: "Bliss Pro Bold", Arial, sans-serif; font-size: 16px; font-size: 1.6rem; font-weight: 700; line-height: 24px; }

.btn-profit { height: 77px; line-height: 85px; text-align: center; padding: 0 15px; }
.btn-profit span { font-family: "Bliss Pro ExtraBold", Arial, sans-serif; font-size: 26px; font-size: 2.6rem; color: #232323; text-transform: uppercase; }
.btn-profit:active { box-shadow: inset 1.5px 2.6px 5px rgba(0, 0, 0, 0.4); }

.magnit { width: 219px; height: 219px; background-color: #00bfff; border-radius: 50%; position: relative; }
.magnit .ico { position: absolute; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.equalizer { font-size: 0; max-width: 500px; }
.equalizer .col { position: relative; display: inline-block; vertical-align: bottom; margin-right: 7px; width: 29px; }
.equalizer .col:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background-color: #ffd640; -webkit-animation: equa 1.4s infinite ease-in-out; animation: equa 1.4s infinite ease-in-out; }
.equalizer .col:last-child { margin-right: 0; }
.equalizer .col.col1 { height: 86px; }
.equalizer .col.col1:before { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.equalizer .col.col2 { height: 181px; }
.equalizer .col.col2:before { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.equalizer .col.col3 { height: 159px; }
.equalizer .col.col3:before { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.equalizer .col.col4 { height: 262px; }
.equalizer .col.col4:before { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.equalizer .col.col5 { height: 191px; }
.equalizer .col.col5:before { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.equalizer .col.col6 { height: 157px; }
.equalizer .col.col6:before { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.equalizer .col.col7 { height: 240px; }
.equalizer .col.col7:before { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.equalizer .col.col8 { height: 148px; }
.equalizer .col.col8:before { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.equalizer .col.col9 { height: 200px; }
.equalizer .col.col9:before { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.equalizer .col.col10 { height: 226px; }
.equalizer .col.col10:before { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.equalizer .col.col11 { height: 183px; }
.equalizer .col.col11:before { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.equalizer .col.col12 { height: 140px; }
.equalizer .col.col12:before { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.equalizer .col.col13 { height: 193px; }
.equalizer .col.col13:before { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

.money-m { background: url("../img/magnit.png") no-repeat 0 0; width: 454px; height: 155px; position: relative; }
.money-m__in { position: absolute; left: 185px; right: 102px; top: 0; bottom: 0; margin: auto; overflow: hidden; }
.money-m .dollar { position: absolute; background: url('../img/icons-s8dce3e2baa.png') 0 -6790px no-repeat; width: 24px; height: 11px; -webkit-animation: fly 0.8s infinite linear; animation: fly 0.8s infinite linear; }
.money-m .dollar.dollar1 { top: 26px; right: 43px; }
.money-m .dollar.dollar2 { top: 34px; right: 95%; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.money-m .dollar.dollar3 { top: 64px; right: 10%; -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.money-m .dollar.dollar4 { top: 70px; right: 50%; -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.money-m .dollar.dollar5 { top: 119px; right: 20%; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.money-m .dollar.dollar6 { top: 121px; right: 80%; -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.money-m .dollar.dollar7 { top: 138px; right: 65%; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

.top-form { position: relative; }
.top-form > div { display: block; margin-bottom: 5px; }

.input { width: 187px; }
.input input[type=text] { height: 31px; background-color: #FFF; opacity: 0.35; display: block; width: 100%; -moz-transition: all 0.4s; -o-transition: all 0.4s; -webkit-transition: all 0.4s; transition: all 0.4s; padding: 5px 15px 5px 40px; font-size: 14px; font-size: 1.4rem; font-weight: 200; color: #232323; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; }
.input input[type=text]:-moz-placeholder, .input input[type=text]::-moz-placeholder { color: #bfb591; opacity: 1; }
.input input[type=text]::-webkit-input-placeholder { color: #bfb591; }
.input input[type=text]:focus { opacity: 1; }
.input.input_name, .input.input_tel, .input.input_web, .input.input_mail { position: relative; }
.input.input_name:before, .input.input_tel:before, .input.input_web:before, .input.input_mail:before { display: block; content: ""; position: absolute; top: 50%; transform: translate(0, -50%); z-index: 9999; }
.input.input_name:before { background: url('../img/icons-s8dce3e2baa.png') 0 -6450px no-repeat; width: 10px; height: 10px; left: 15px; }
.input.input_tel:before { background: url('../img/icons-s8dce3e2baa.png') 0 -6523px no-repeat; width: 7px; height: 13px; left: 16px; }
.input.input_web:before { background: url('../img/icons-s8dce3e2baa.png') 0 -6601px no-repeat; width: 12px; height: 10px; left: 14px; }
.input.input_mail:before { background: url('../img/icons-s8dce3e2baa.png') 0 -6389px no-repeat; width: 10px; height: 7px; left: 15px; }

.btn-start { font-size: 18px; font-size: 1.8rem; color: white; font-weight: 700; line-height: 52px; height: 52px; text-transform: uppercase; display: block; background-color: #00bfff; width: 187px; }
.btn-start:hover { background-color: #00a2ff; }
.btn-start:active { background-color: #007eff; box-shadow: inset 1px 1.7px 3px rgba(0, 0, 0, 0.33); }

.btn-start-lg { font-size: 24px; font-size: 2.4rem; font-weight: 700; color: #232323; background-color: #f7e357; height: 71px; line-height: 71px; width: 248px; }
.btn-start-lg:hover { background-color: #ffd735; }
.btn-start-lg:active { box-shadow: inset 1.5px 2.6px 5px rgba(0, 0, 0, 0.4); background-color: #ffcc02; }

.popup { top: 0; bottom: 0; left: 0; right: 0; position: absolute; display: none; background-color: rgba(31, 31, 31, 0.81); z-index: 999999999; }
.popup.is-active { display: block; }
.popup__form { position: fixed; top: 0; bottom: 0; right: 0; left: 0; margin: auto; padding: 55px 65px; width: 382px; height: 468px; background-color: #f7e357; }
.popup__form .btn-close { background: url('../img/icons-s8dce3e2baa.png') 0 -6102px no-repeat; width: 21px; height: 21px; display: inline-block; position: absolute; top: 10px; right: 9px; border: 0; outline: none; }
.popup__form .btn-send { width: 100%; height: 70px; font-family: "Bliss Pro ExtraBold", Arial, sans-serif; line-height: 70px; color: #fff; font-size: 24px; font-size: 2.4rem; text-transform: uppercase; }
.popup__form .top { font-family: "Bliss Pro ExtraLight", Arial, sans-serif; line-height: 1; font-size: 18px; font-size: 1.8rem; font-weight: 200; color: #232323; text-align: center; margin-bottom: 27px; }
.popup__form form .input { width: 100%; margin-bottom: 9px; }
.popup__form form .input input[type=text] { height: 42px; font-size: 19px; font-size: 1.9rem; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "тЖР"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "тЖТ"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.slider.slick-slider .slick-prev, .slider.slick-slider .slick-next { display: none !important; }
.slider.slick-slider .slick-dots { z-index: 100; margin-bottom: 15px; right: inherit; left: 540px; }
.slider.slick-slider .slick-dots li.slick-active button { background-color: #FFF; opacity: 1; }
.slider.slick-slider .slick-dots button { width: 18px; height: 18px; background-color: #ffd640; box-shadow: none; }

.gallery-top.slick-slider .slick-prev, .gallery-top.slick-slider .slick-next { display: none !important; }
.gallery-top.slick-slider .item { padding: 54px 0 80px; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; cursor: pointer; -moz-transition: all 0.4s; -o-transition: all 0.4s; -webkit-transition: all 0.4s; transition: all 0.4s; text-align: center; }
.gallery-top.slick-slider .item:hover { -ms-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); filter: none; -webkit-filter: none; filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=0)"; }
.gallery-top.slick-slider .item > img { margin: auto; }

.gallery-bot.slick-slider { padding: 0 108px; }
.gallery-bot.slick-slider .slick-prev, .gallery-bot.slick-slider .slick-next { top: 110px; }
.gallery-bot.slick-slider .slick-prev:before, .gallery-bot.slick-slider .slick-next:before { font: 0/0 a; text-shadow: none; color: transparent; }
.gallery-bot.slick-slider .slick-prev { background: url('../img/icons-s8dce3e2baa.png') 0 -6010px no-repeat; width: 36px; height: 36px; }
.gallery-bot.slick-slider .slick-next { background: url('../img/icons-s8dce3e2baa.png') 0 -6056px no-repeat; width: 36px; height: 36px; }
.gallery-bot.slick-slider .slide { font-size: 0; }
.gallery-bot.slick-slider .slide__inner { padding: 30px 34px 47px; border: 2px solid #00bfff; }
.gallery-bot.slick-slider .slide__title { font-size: 30px; font-size: 3rem; line-height: 1.2; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; text-transform: uppercase; color: #232323; margin-bottom: 10px; }
.gallery-bot.slick-slider .slide .numb { font-family: "Bliss Pro Heavy", Arial, sans-serif; font-size: 70px; font-size: 7rem; color: #00bfff; padding-right: 10px; line-height: 1; letter-spacing: -0.05em; }
.gallery-bot.slick-slider .slide .numb.is-mod { padding: 0; }
.gallery-bot.slick-slider .slide .numb span { font-size: 36px; font-size: 3.6rem; }
.gallery-bot.slick-slider .slide .content { font-size: 16px; font-size: 1.6rem; font-family: "Bliss Pro ExtraLight", Arial, sans-serif; margin-bottom: 6px; position: relative; }
.gallery-bot.slick-slider .slide .content p { color: #00bfff; font-family: "Bliss Pro Bold", Arial, sans-serif; }
.gallery-bot.slick-slider .slide .content .top { position: absolute; top: 12px; }
.gallery-bot.slick-slider .slide .content .bot .ico.ico_mod { margin-left: 4px; }
.gallery-bot.slick-slider .slide__info { position: relative; overflow: hidden; }
.gallery-bot.slick-slider .slide__info .ico { position: absolute; top: 37px; left: 50px; }
.gallery-bot.slick-slider .slide__info .text { font-size: 30px; font-size: 3rem; line-height: 1; font-family: "Bliss Pro", Arial, sans-serif; padding: 34px 65px 34px 140px; }
.gallery-bot.slick-slider .slide.slide2 .slide__info .ico { left: 110px; }
.gallery-bot.slick-slider .slide.slide2 .slide__info .text { padding-left: 198px; }
.gallery-bot.slick-slider .slide.slide3 .slide__info .ico { left: 46px; }
.gallery-bot.slick-slider .slide.slide3 .slide__info .text { padding-left: 134px; padding-right: 40px; font-size: 24px; font-size: 2.4rem; }
.gallery-bot.slick-slider .slide.slide4 .slide__inner { padding-bottom: 26px; }
.gallery-bot.slick-slider .slide.slide5 .slide__info .ico { left: 25px; }
.gallery-bot.slick-slider .slide.slide5 .slide__info .text { font-size: 24px; font-size: 2.4rem; padding-left: 116px; padding-right: 18px; }
.gallery-bot.slick-slider .col { display: inline-block; vertical-align: top; padding-right: 20px; margin-bottom: 20px; }
.gallery-bot.slick-slider .col.col_mod { margin-bottom: 0; }
.gallery-bot.slick-slider .col2 { width: 16.66667%; }
.gallery-bot.slick-slider .col3 { width: 25%; }
.gallery-bot.slick-slider .col4 { width: 33.3%; }
.gallery-bot.slick-slider .col5 { width: 41.66667%; }
.gallery-bot.slick-slider .col6 { width: 50%; }
.gallery-bot.slick-slider .col7 { width: 58.33333%; }
.gallery-bot.slick-slider .col8 { width: 66.66667%; }

.gallery-awards.slick-slider { height: 260px; padding: 42px 0; font-size: 0; }
.gallery-awards.slick-slider .slick-prev:before, .gallery-awards.slick-slider .slick-next:before { font: 0/0 a; text-shadow: none; color: transparent; }
.gallery-awards.slick-slider .slick-prev { background: url('../img/icons-s8dce3e2baa.png') 0 -6010px no-repeat; width: 36px; height: 36px; left: -50px; }
.gallery-awards.slick-slider .slick-next { background: url('../img/icons-s8dce3e2baa.png') 0 -6056px no-repeat; width: 36px; height: 36px; right: -50px; }
.gallery-awards.slick-slider .award.slick-slide { height: 176px; float: none !important; display: inline-block !important; text-align: center; font-size: 0; }
.gallery-awards.slick-slider .award.slick-slide:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.gallery-awards.slick-slider .slick-slide img { display: inline-block; vertical-align: bottom; height: auto; }
