// Normally mainpage styles
//logo
.logo
	+hide-text
	+s(logo)				

//nav
.nav
	font-size: 0

	li	
		display: inline-block
		margin-right: 18px
		&:last-child
			margin-right: 0

		a 
			display: block
			color: #232323
			+extralight
			+fs(14)
			font-weight: 200
			line-height: 24px
			+font-smoothing
			text-transform: uppercase
			&:hover
				text-decoration: underline				


//title 
.title
	min-height: 60px
	border: 2px solid white	
	text-align: center
	color: $white
	padding: 10px 20px
	margin: auto


	h2 
		+reg
		+fs(30)
		line-height: 1.2
		text-transform: uppercase

.btn-tell, .btn-profit
	height: 29px
	line-height: 29px
	text-align: center
	padding: 0 14px
	background-color: $yellow
	&:hover
		background-color: darken($yellow, 10%)

	&:active 
		background-color: darken($yellow, 10%)
		box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.39)

	span 
		color: #232323
		+bold
		+fs(16)
		font-weight: 700
		line-height: 24px

.btn-profit
	height: 77px
	line-height: 85px
	text-align: center
	padding: 0 15px 
	span
		+extrabold
		+fs(26)
		color: $black
		text-transform: uppercase	
	&:active
		box-shadow: inset 1.5px 2.6px 5px rgba(0, 0, 0, 0.4)				

//magnit
.magnit
	width: 219px
	height: 219px
	background-color: $blue
	border-radius: 50%
	position: relative
	.ico 
		+vcenter		


//equalizer
.equalizer
	font-size: 0
	max-width: 500px
	.col
		position: relative
		display: inline-block
		vertical-align: bottom
		margin-right: 7px
		width: 29px
		&:before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			right: 0
			background-color: #ffd640
			-webkit-animation: equa 1.4s infinite ease-in-out
			animation: equa 1.4s infinite ease-in-out

		&:last-child
			margin-right: 0

		&.col1
			height: 86px
			&:before
				-webkit-animation-delay: .2s
				animation-delay: .2s
		&.col2
			height: 181px
			&:before
				-webkit-animation-delay: .4s
				animation-delay: .4s
		&.col3
			height: 159px
			&:before
				-webkit-animation-delay: .6s
				animation-delay: .6s
		&.col4
			height: 262px
			&:before
				-webkit-animation-delay: .2s
				animation-delay: .2s
		&.col5
			height: 191px
			&:before
				-webkit-animation-delay: .3s
				animation-delay: .3s
		&.col6
			height: 157px
			&:before
				-webkit-animation-delay: .6s
				animation-delay: .6s
		&.col7
			height: 240px
			&:before
				-webkit-animation-delay: .2s
				animation-delay: .2s
		&.col8
			height: 148px
			&:before
				-webkit-animation-delay: .3s
				animation-delay: .3s
		&.col9
			height: 200px
			&:before
				-webkit-animation-delay: .4s
				animation-delay: .4s
		&.col10
			height: 226px
			&:before
				-webkit-animation-delay: .6s
				animation-delay: .6s
		&.col11
			height: 183px
			&:before
				-webkit-animation-delay: .2s
				animation-delay: .2s
		&.col12
			height: 140px
			&:before
				-webkit-animation-delay: .4s
				animation-delay: .4s
		&.col13
			height: 193px
			&:before
				-webkit-animation-delay: .3s
				animation-delay: .3s


//money-m
.money-m
	+png(magnit)
	position: relative

	&__in
		position: absolute
		left: 185px
		right: 102px
		top: 0
		bottom: 0
		margin: auto
		overflow: hidden

	.dollar
		position: absolute
		+s(money)
		-webkit-animation: fly .8s infinite linear
		animation: fly .8s infinite linear
		&.dollar1
			top: 26px
			right: 43px
		&.dollar2
			top: 34px
			right: 95%
			-webkit-animation-delay: .3s
			animation-delay: .3s
		&.dollar3
			top: 34px + 30px
			right: 10%
			-webkit-animation-delay: .4s
			animation-delay: .4s
		&.dollar4
			top: 34px + 36px
			right: 50%
			-webkit-animation-delay: .7s
			animation-delay: .7s
		&.dollar5
			top: 34px + 85px
			right: 20%
			-webkit-animation-delay: .3s
			animation-delay: .3s
		&.dollar6
			top: 34px + 87px
			right: 80%
			-webkit-animation-delay: .7s
			animation-delay: .7s
		&.dollar7
			top: 34px + 104px
			right: 65%
			-webkit-animation-delay: .2s
			animation-delay: .2s	